<section class="map-section py-16 px-4 text-center bg-white">
  <h2 class="text-3xl font-bold mb-6" data-i18n="mapHeading">Visit Our Office</h2>

  <div class="max-w-6xl mx-auto rounded overflow-hidden shadow-md">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.5169292888318!2d55.26159137606615!3d25.18578417771832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f69ae5a0b2651%3A0x9ce785f014adf167!2sReportage%20Properties%20Dubai!5e0!3m2!1sen!2sae!4v1745489747040!5m2!1sen!2sae"
      width="100%" height="450"
      style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
